<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>html首页</title>
</head>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/bootstrap.css"/>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse" style="background-color: orange;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" style="margin: 0 auto;text-align: center;"
                 id="bs-example-navbar-collapse-1">
                <div class="container">
                    <div class="row">

                        <ul class="nav navbar-nav" style="width: 100%;">
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店1
                                        </div>
                                    </a>
                                </li>
                            </div>

                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店2
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">
                                <li>
                                    <a href="#">
                                        <div class="col-lg-1">
                                            大酒店3
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <div class="col-lg-1">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false">
                                        <div class="col-lg-1">
                                            Dropdown <span class="caret"></span>
                                        </div>

                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                        <li>
                                            <a href="#">電腦</a>
                                        </li>
                                        <li>
                                            <a href="#">電腦</a>
                                        </li>
                                        <li>
                                            <a href="#">電腦</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">電腦</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">電腦</a>
                                        </li>
                                    </ul>
                                </li>
                            </div>

                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Home</a>
        </li>
        <li role="presentation">
            <a href="#">Profile</a>
        </li>
        <li role="presentation">
            <a href="#">Messages</a>
        </li>
    </ul>
</div>

</body>
<style type="text/css">
    body {
        background-image: url(../img/QQ图片20180716093513.jpg);
    }

    div {
        border: 1px solid red;
    }

    .zpading {
        padding: 0;
    }

    .tou {
        opacity: 0;
    }

    .can {
        margin: 0;
    }

    .jun {
        display: flex;
        justify-content: space-between;
    }
</style>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".ok").on("click", bb);
        v();
    })

    function bb() {
        $(".ok").css("border-bottom", "2px solid orange");
        $(this).css("border-bottom", "2px solid white");
    }

    function v() {
        var tit = $(document).attr("title");
        var daohang = $(".ok").text();

        console.log(daohang)
        console.log(daohang[0])
        for (i = 0; i <= 4; i++) {
            //				alert(daohang[i].text())
            //				if(daohang[i].text()==tit){
            //					$(daohang[i]).css("border-bottom","2px solid white");
            //				}
        }
    }
</script>

</html>