<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/ziyuan/layui/css/layui.css"/>
    <script type="text/javascript" src="/ziyuan/js/jquery-1.7.2.js"></script>
    <style type="text/css">
        body {
            margin: 50px;
        }
    </style>
</head>

<body>
<!--当登陆的时候放入SimpleAuthorizationInfo中是user对象，可以直接获取他的属性-->
<div style="text-align: center;background-color: cyan">欢迎<shiro:principal property="userName"></shiro:principal>登陆</div>
<!--当登陆的时候放入SimpleAuthorizationInfo中是字符串，可以直接获取他的值-->
<div style="text-align: center;background-color: cyan">欢迎<shiro:principal ></shiro:principal>登陆</div>
<shiro:hasAnyPermissions name="user:select,user:insert">
    拥有其中一个权限即可
</shiro:hasAnyPermissions>
<!--拥有user:select权限才显示-->
<shiro:hasPermission name="user:select">　　
    <button id="selectBtn" class="layui-btn layui-btn-sm layui-btn-radius layui-bg-cyan">
        <i class="layui-icon">&#xe602;</i>select
    </button>
</shiro:hasPermission>
<!--拥有user:insert权限才显示-->
<shiro:hasPermission name="user:insert">　　
    <button id="insertBtn" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius">
        <i class="layui-icon">&#xe654;</i>insert
    </button>
</shiro:hasPermission>

<!--拥有user:update权限才显示-->
<shiro:hasPermission name="user:update">　　
    <button id="updateBtn" class="layui-btn layui-btn-warm layui-btn-sm layui-btn-radius">
        <i class="layui-icon">&#xe642;</i>update
    </button>
</shiro:hasPermission>
<!--拥有user:delete权限才显示-->
<shiro:hasPermission name="user:delete">　　
    <button id="deleteBtn" class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius">
        <i class="layui-icon">&#xe640;</i>delete
    </button>
</shiro:hasPermission>

<hr/>
<!-- 是vip 角色才显示-->
<shiro:hasRole name="vip">　　
    <button id="vipBtn" class="layui-btn layui-btn-lg">
        vip
    </button>
</shiro:hasRole>
<!-- 是ip 角色才显示-->
<button id="ipBtn" shiro:hasRole="ip" class="layui-btn layui-btn-lg">
    ip
</button>
<!-- 是 p 角色才显示-->
<shiro:hasRole name="p">
    <button id="pBtn" class="layui-btn layui-btn-lg">
        p
    </button>
</shiro:hasRole>

<shiro:hasAnyRoles name="p,ip">
    <button id="insertBtn1" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius">
        <i class="layui-icon">&#xe654;</i>拥有其中一个角色即可
    </button>
</shiro:hasAnyRoles>



<hr/>
<a class="layui-btn layui-btn-sm layui-btn-primary" href="/logout">注销</a>
</body>
<script type="text/javascript">
    $("#selectBtn").click(function () {
        $.post("http://localhost/user/select", {}, function (result) {
            console.log(result)
            alert(result.msg);
        }, "json");
    });

    $("#insertBtn").click(function () {
        $.post("http://localhost/user/insert", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });
    $("#insertBtn1").click(function () {
        $.post("http://localhost/user/insert", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });

    $("#updateBtn").click(function () {
        $.post("http://localhost/user/update", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });

    $("#deleteBtn").click(function () {
        $.post("http://localhost/user/delete", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });

    $("#vipBtn").click(function () {
        $.post("http://localhost/user/vip", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });

    $("#ipBtn").click(function () {
        $.post("http://localhost/user/ip", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });
    $("#pBtn").click(function () {
        $.post("http://localhost/user/p", {}, function (result) {
            if (result.success) {
                alert(result.msg);
                return false;
            } else {
                alert(result.msg);
                return false;
            }
        }, "json");
    });
</script>

</html>