<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapper">
    <!--    一对多  -->
    <resultMap id="BaseResultMap" type="com.example.demo.model.User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.example.demo.model.Role" javaType="List">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
            <result property="userId" column="user_id"/>
        </collection>
    </resultMap>
    <select id="xmlOneToManylist" resultMap="BaseResultMap">
        SELECT * FROM  sys_user left join role on `sys_user`.id=role.user_id where id=1
    </select>

    <!--    一对一  -->
    <resultMap id="oneToOne" type="com.example.demo.model.Role">
        <id column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <association property="user" javaType="com.example.demo.model.User">
            <result column="id" property="id" jdbcType="INTEGER"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="xmlOneToOneRole" resultMap="oneToOne">
        SELECT * FROM  role left join sys_user on `sys_user`.id=role.user_id where role.role_id=1
    </select>


</mapper>