<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplustest.mapper.UniDataMapper">

   <select id="xmlPage" resultType="com.example.mybatisplustest.entity.UniData">
       SELECT user.name,user.password,USER.nick_name as nickName,USER.age,role.role_id as roleId,role.role " +
            "FROM user INNER JOIN role ON `user`.user_id = role.role_id where user.user_id = #{map.userId}
   </select>

</mapper>
