<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tese.boot.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.tese.boot.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="rel_name" property="relName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, login_name, rel_name, password, status
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tese.boot.entity.User">
        insert into t_user (id, login_name, rel_name,
        password, status)
        values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{relName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tese.boot.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="relName != null">
                rel_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="relName != null">
                #{relName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tese.boot.entity.User">
        update t_user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="relName != null">
                rel_name = #{relName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tese.boot.entity.User">
        update t_user
        set login_name = #{loginName,jdbcType=VARCHAR},
        rel_name = #{relName,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByid" resultType="com.tese.boot.entity.pojo.LoginReturn">
        SELECT
        t_user.id as userId,
        t_user.login_name as loginName,
        t_user.rel_name as relName,
        t_menu.pid as menuPid,
        t_menu.menu_name as menuName,
        t_menu.url,
        t_menu.status,
        role_user.role_id as roleId
        FROM t_user
        inner join role_user
        on t_user.id=role_user.role_id
        inner join role_menu
        on role_user.role_id=role_menu.role_id
        inner join t_menu
        on role_menu.menu_id=t_menu.id
        WHERE
        t_user.id= #{id}
    </select>


    <select id="selectlogin" resultType="com.tese.boot.entity.pojo.LoginReturn">
        SELECT
        t_user.id as userId,
        t_user.login_name as loginName,
        t_user.rel_name as relName,
        t_menu.pid as menuPid,
        t_menu.menu_name as menuName,
        t_menu.url,
        role_user.role_id as roleId
        FROM t_user
        inner join role_user
        on t_user.id=role_user.role_id
        inner join role_menu
        on role_user.role_id=role_menu.role_id
        inner join t_menu
        on role_menu.menu_id=t_menu.id
        WHERE
        t_user.login_name = #{loginName}
        AND t_user.password = #{password}
    </select>

    <select id="selectId" resultType="string">
        select id from t_user where login_name = #{loginName} and password = #{password}
    </select>


    <select id="selectAcc" resultMap="BaseResultMap">
        select * from t_user
    </select>
</mapper>